// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sort {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.item-show {
  h1 {
    padding-bottom: 0;
  }
  .product_id {
    margin-top: 0;
  }

  .product_image {
    object-fit: contain;
  }

  .category {
    margin-top: 0;
  }
}
