// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reviews {
  ul {
    li {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 8px;
  }
}
